.App {
  font-family: sans-serif;
  text-align: center;
  font-family: Ubuntu;
}

h1 {
  color: rgb(65, 62, 62);
  margin-bottom: 60px;
}

button {
  font-size: 20px;
  padding: 20px;
  border: 1px solid rgb(73, 68, 68);
  color: rgb(48, 46, 46);
  font-family: Ubuntu;
  cursor: pointer;
  border-radius: 5px;
  color: white;
  background-color: green;
}

button:disabled {
  background-color: red;
}
